/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/login/loginPage.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.loginPage_container__pYXxy {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 60px;
}

.loginPage_wrapper__5joug {
 background-color: var(--softBg);
 padding: 150px 200px;
 display: flex;
 flex-direction: column;
 gap: 50px;
 border-radius: 10px;
}

.loginPage_socialButton__Vw90a {
 padding: 20px;
 border-radius: 5px;
 border: none;
 color: white;
 font-weight: bold;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}

.loginPage_socialButton__Vw90a:first-child {
 background-color: #ff5555;
}

.loginPage_socialButton__Vw90a:nth-child(2) {
 background-color: #111;
}

.loginPage_socialButton__Vw90a:nth-child(3) {
 background-color: #087bea;
}

@media screen and (max-width: 768px) {
 .loginPage_wrapper__5joug {
  padding: 50px 100px;
 }
}
@media screen and (max-width: 640px) {
 .loginPage_wrapper__5joug {
  padding: 30px;
 }

 .loginPage_socialButton__Vw90a {
  font-weight: 400;
  font-size: 14px;
 }
}

