/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/pagination/pagination.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MjtB3 {
 display: flex;
 justify-content: space-between;
}

.pagination_button__EHYZp {
 width: 100px;
 border: none;
 padding: 16px;
 background-color: crimson;
 color: white;
 border-radius: 20px;
 font-size: 15px;
 cursor: pointer;
}

.pagination_button__EHYZp:disabled {
 background-color: rgba(220, 20, 60, 0.473);
 cursor: not-allowed;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/cardList/cardList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.cardList_container__tWwXs {
 flex: 5 1;
}

.cardList_title__fyoKM {
 margin: 50px 0px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_container__xBy9R {
 margin-bottom: 50px;
 display: flex;
 align-items: center;
 gap: 50px;
}

.card_imageContainer__0rYcM {
 flex: 1 1;
 height: 350px;
 position: relative;
}

.card_image__5mzyB {
 object-fit: cover;
}

.card_textContainer__uD6_C {
 flex: 1 1;
 display: flex;
 flex-direction: column;
 gap: 30px;
}

.card_date__IWhCo {
 color: gray;
}

.card_category__QmWQb {
 color: crimson;
 font-weight: 500;
}

.card_desc__hMM2S {
 font-size: 18px;
 font-weight: 300;
 color: var(--softTextColor);
}

.card_link__yV43X {
 border-bottom: 1px solid crimson;
 width: max-content;
 padding: 2px 0px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/blog/blogPage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.blogPage_title__l5rfc {
 background-color: coral;
 color: white;
 padding: 5px 10px;
 text-align: center;
 text-transform: capitalize;
}

.blogPage_content__ihTxV {
 display: flex;
 gap: 50px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Menu/Menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Menu_container__b_ogZ {
 flex: 2 1;
 margin-top: 60px;
}

.Menu_title__JLFbV {
 font-size: 28px;
}

.Menu_subtitle__vEACX {
 color: gray;
 font-size: 16px;
 font-weight: 400;
}

.Menu_items__2_DrS {
 margin-top: 35px;
 margin-bottom: 60px;
 display: flex;
 flex-direction: column;
 gap: 35px;
}

.Menu_item__wpiAz {
 display: flex;
 align-items: center;
 gap: 20px;
}

.Menu_imageContainer__xJOYZ {
 flex: 1 1;
 aspect-ratio: 1/1;
 position: relative;
}

.Menu_image__uEgkh {
 border-radius: 50%;
 border: 3px solid lightgray;
 object-fit: cover;
}

.Menu_textContainer__d3KgS {
 flex: 4 1;
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.Menu_category__BNdpP {
 padding: 3px 8px;
 border-radius: 10px;
 font-size: 12px;
 color: black;
 width: max-content;
}

.Menu_category__BNdpP.Menu_travel__bMvb8 {
 background-color: #ff795736;
}

.Menu_category__BNdpP.Menu_food__hIVtx {
 background-color: #7fb88133;
}

.Menu_category__BNdpP.Menu_fashion__O868p {
 background-color: #da85c731;
}

.Menu_category__BNdpP.Menu_coding__tBUlh {
 background-color: #ff795736;
}

.Menu_category__BNdpP.Menu_culture__SJE6e {
 background-color: #ffb04f45;
}

.Menu_category__BNdpP.Menu_style__KfgO3 {
 background-color: #5e4fff31;
}

.Menu_postTitle__IlFBb {
 font-size: 18px;
 font-weight: 500;
 color: var(--softTextColor);
}

.Menu_detail__X_kFP {
 font-size: 12px;
}

.Menu_username__4AKYz {
}

.Menu_date__yaLsk {
 color: gray;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menuPosts/menuPosts.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.menuPosts_container__9iiFp {
 flex: 2 1;
 margin-top: 60px;
}

.menuPosts_title__csPUI {
 font-size: 28px;
}

.menuPosts_subtitle__bzGHn {
 color: gray;
 font-size: 16px;
 font-weight: 400;
}

.menuPosts_items__zCzFu {
 margin-top: 35px;
 margin-bottom: 60px;
 display: flex;
 flex-direction: column;
 gap: 35px;
}

.menuPosts_item__FYpEz {
 display: flex;
 align-items: center;
 gap: 20px;
}

.menuPosts_imageContainer__XG76w {
 flex: 1 1;
 aspect-ratio: 1/1;
 position: relative;
}

.menuPosts_image__IA3eB {
 border-radius: 50%;
 border: 3px solid lightgray;
 object-fit: cover;
}

.menuPosts_textContainer__au0GC {
 flex: 4 1;
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.menuPosts_category__Aonfr {
 padding: 3px 8px;
 border-radius: 10px;
 font-size: 12px;
 color: black;
 width: max-content;
}

.menuPosts_categoryList__XBLit {
}

.menuPosts_categoryItem__oYMBU {
}

.menuPosts_category__Aonfr.menuPosts_travel__mQpLL {
 background-color: #ff795736;
}

.menuPosts_category__Aonfr.menuPosts_food__s3FgX {
 background-color: #7fb88133;
}

.menuPosts_category__Aonfr.menuPosts_fashion__CLcq8 {
 background-color: #da85c731;
}

.menuPosts_category__Aonfr.menuPosts_coding__gPTWe {
 background-color: #ff795736;
}

.menuPosts_category__Aonfr.menuPosts_culture__pFTSR {
 background-color: #ffb04f45;
}

.menuPosts_category__Aonfr.menuPosts_style__2TsaX {
 background-color: #5e4fff31;
}

.menuPosts_postTitle___KHVw {
 font-size: 18px;
 font-weight: 500;
 color: var(--softTextColor);
}

.menuPosts_detail__kP_z0 {
 font-size: 12px;
}

.menuPosts_username__N61HU {
}

.menuPosts_date__ioevs {
 color: gray;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menuCategories/menuCategories.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.menuCategories_categoryList__ktFqg {
 margin-top: 35px;
 margin-bottom: 60px;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}

.menuCategories_categoryItem__o9cKJ {
 padding: 10px 25px;
 border-radius: 10px;
 font-size: 14px;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_style__cZGml {
 background-color: #57c4ff31;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_fashion__iNpn3 {
 background-color: #da85c731;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_food__ufPAu {
 background-color: #7fb88133;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_travel__E4B5s {
 background-color: #ff795736;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_culture__QFA4c {
 background-color: #ffb04f45;
}

.menuCategories_categoryItem__o9cKJ.menuCategories_coding__9Rxni {
 background-color: #5e4fff31;
}

