/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/homepage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/cardList/CardList.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/featured/featured.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.featured_container__9bUI6 {
 margin-top: 30px;
}

.featured_title__rFWcP {
 font-size: 98px;
 font-weight: 300;
}

.featured_post__sWkzO {
 margin-top: 60px;
 display: flex;
 align-items: center;
 gap: 50px;
}

.featured_imgContainer__phBYF {
 flex: 1 1;
 height: 600px;
 position: relative;
}

.featured_image__s8EnU {
 object-fit: cover;
 border-radius: 25px;
}

.featured_textContainer__KZ18s {
 flex: 1 1;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.featured_button__ufmSY {
 padding: 16px 20px;
 border: none;
 border-radius: 5px;
 width: max-content;
}

